# Python
.venv/
__pycache__/
*.pyc

# Large ML datasets
ml/data/CICIDS2017/
ml/data/UNSW-NB15/

# Jupyter
.ipynb_checkpoints/

# Model files
ml/models/*.pkl
ml/models/*.joblib

# Temporary files
*.tmp
*.log